


/* .main{
    display: flex;
    justify-content: center;
    align-items: center;

}

.input{
    border: 2px;
    border-radius: 50px;
    background: transparent;
    outline: none;
    text-align:center;
    border: gray;
    transition: step-start;
    
} */