   
 /* .img{
     /* border-radius: 50px; */
     /* position: absolute;
     height: 7vh;
     width: 22%;  */
 /* }   */
    .inputRounded .MuiOutlinedInput-root {
        /* border-radius: 30px; */
        min-width: 85%;
        height: 6vh;
        border-radius: 50px;
        box-sizing: border-box;
        background-color: #E6F2FE;
        padding: 0px;
    }
      /* .img .MuiInputAdornment-positionStart{
        border-radius : 50%;
        height : 6vh;
        width : 70%;
       
      } */
      /* .MuiAutocomplete-inputRoot  {
        padding : 0px
       }

    .MuiOutlinedInput-root {
        padding: 0px;
    }
  
    .MuiAutocomplete-root {
        padding: 0px;

    } */
    .MuiAutocomplete-root .MuiOutlinedInput-root {
       padding: 0px;
    }

    .MuiAutocomplete-hasPopupIcon.css-1qxegov-MuiAutocomplete-root .MuiOutlinedInput-root{
        padding: 0px;
    } 
/* .countryName{
    box-sizing: border-box;
display: inline-flex;
   width: 500px;
    height: 60px;
    left: 809px;
    top: 300px; */
    
    /* Light Blue */
    
    /* background: #E6F2FE; */
    /* Blue (20%) */
    
    /* border: 1px solid rgba(0, 47, 113, 0.2);
    border-radius: 50px;
} */

/* .newCountry{

    position: absolute;
    left: 17.61%;
    right: 69.72%;
    top: 25.71%;
    bottom: 22.86%;
    
    /* T 14 Medium */
    
    /* font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px; */
    /* identical to box height, or 129% */
    
    
    /* Blue */
    
    /* color: #002F71; */


/* } */ 
